<header id="header">
    <section class="container">
        <section class="row">
            <section class="col-lg-4">
                <h1 id="logo">
                    @Html.ActionLink("Home", "Index", "Home")
                </h1>
            </section>
            <section class="col-lg-8">

            </section>
        </section>
    </section>
</header>
